
postMortem/.RData

postMortem/.Rhistory

postMortem/.Rproj.user/776AA9D8/pcs/

postMortem/.Rproj.user/776AA9D8/quarto-crossref/

postMortem/.Rproj.user/776AA9D8/

*.json

*.csv

*.error

postMortem/.Rproj.user/shared/notebooks/

*.html

postMortem/DEM_alignment_files/libs/bootstrap/

postMortem/DEM_alignment_files/libs/clipboard/

postMortem/DEM_alignment_files/libs/quarto-html/

postMortem/images/

*.Rproj

CanFor/.Rhistory

Derivatives/derivatives.pdf

Derivatives/images/circle.PNG
